@import '../../theme/variables.scss';
.table {
  .table {
    &__row {
      cursor: pointer;
      &__cell {
        border: 0.5px solid black;
        margin: 10px;
        &--spinner {
          text-align: center !important;
        }
        &--short {
          cursor: initial;
          width: 15rem;
          @media screen and (max-width: $breakpoint-lg) {
            width: 10rem;
          }
        }
      }
    }
  }
}
